@import "variables";

.social-media {
    font-size: 1.5rem;
}

.landing {
    text-align: center;
}

.landing a {
    font-size: 5em;
    line-height: 1.4;
    background: -webkit-linear-gradient(to left, #ff5929, #ff4510);
    background: linear-gradient(to left, #ff5929, #ff4510);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.playlist-img {
    height: 100%;
    width: 100%;
}

.card-icon {
    font-size: 1.2rem;
}

.card-description {
    height: 3em;
}

.card-track-count {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}