
@import "_custom.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";
@import "../fontawesome/scss/regular.scss";
