/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.social-media {
    font-size: 1.5rem;
}

.landing {
    text-align: center;
    margin-bottom: 100px;
}

    .landing a {
        font-size: 6em;
        line-height: 1.4;
        background: -webkit-linear-gradient(to left, #007bff, #006fe6);
        background: linear-gradient(to left, #007bff, #006fe6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
