@{
    ViewData["Title"] = "About me";
}

<div>
    <section class="jumbotron text-center bg-light">
        <div class="container">
            <h1 class="jumbotron-heading">About me</h1>
            <p class="lead text-muted">
                A brief history <a href="#about-me">about me</a>, my <a href="#education">education</a> and my <a href="#work-experience">work experience</a>.
            </p>
        </div>
    </section>
    <h3 class="mt-2 py-2" id="about-me">About me</h3>
    <div class="row">
        <div class="col-4 d-none d-xl-block">
            <img src="~/images/aboutMe.jpg" class="img-fluid" alt="About me image">
        </div>
        <div class="col-12 col-xl-8">
            <p>
                My name is Dominic and I am born and raised in Portland Oregon. I solve problems both technical and creative. Some developers may say that design is a soft skill and
                developing is a hard skill. I believe that both are hard skills and I make sure to implement that in all my development.
            </p>
            <p>
                I make sure that my designs tell a story, whether that is the intended user experience or just a design that is aesthetically pleasing with excellent functionality.
                In order to tell a story, you need to know the details as well as the history of the product. This is the road to selling a product effectively as well as fine-tuning
                the product by focusing on the little details.
            </p>
            <blockquote class="blockquote">
                <p class="mb-0">"There is beauty when something works and it works intuitively."</p>
                <footer class="blockquote-footer"><cite title="Jonathan Ive">Jonathan Ive</cite></footer>
            </blockquote>
        </div>

    </div>
    
    <h3 class="mt-2">Education</h3>
    <div class="row mt-2 py-2" id="education">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Portland State University</h5>
                    <h6 class="card-subtitle mb-2 text-muted font-weight-light">2012 - 2015</h6>
                    <p class="card-text">Bachelors of computer science with a 3.0 GPA</p>
                    <ul class="list-unstyled">
                        <li class="font-weight-bold">
                            Courses
                            <ul class="font-weight-light">
                                <li>Agile & scrum</li>
                                <li>Algorithms & complexity</li>
                                <li>Compiler design</li>
                                <li>Open source software</li>
                            </ul>
                        </li>
                    </ul>
                    <p class="text-muted mb-0">Senior project</p>
                    <a class="card-link" href="@Url.Action("Projects")#corpool">Corpool</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 pt-md-0 pt-3">
            <div class="card" style="height: 100%">
                <div class="card-body">
                    <h5 class="card-title">Portland Community College</h5>
                    <h6 class="card-subtitle mb-2 text-muted font-weight-light">2010 - 2012</h6>
                    <p class="card-text">Associate's degree with a 3.5 GPA</p>
                    <ul class="list-unstyled">
                        <li class="font-weight-bold">
                            Courses
                            <ul class="font-weight-light">
                                <li>C++ object oriented programming</li>
                                <li>Japanese</li>
                                <li>Psychology</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <h3 class="mt-2 py-2" id="work-experience">Work experience</h3>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Currie & Brown</h5>
                    <h6 class="card-subtitle mb-2 text-muted font-weight-light">February 2017 - Current</h6>
                    <p class="card-text">Full Stack Software Developer & Data Analyst</p>
                    <ul class="list-unstyled">
                        <li class="font-weight-bold">
                            Responsibilities
                            <ul class="font-weight-light">
                                <li>Full stack C# developer</li>
                                <li>Work with multiple high-profile clients to build software best suited for their problem statements</li>
                                <li>Display large data sets in meaningful tables and easy to digest charting</li>
                                <li>Maintain up-to date cost for client and project stakeholders</li>
                                <li>Analyze cost reports, funding sources, and overall project spend</li>
                                <li>Develop detailed project plans to monitor and track progress</li>
                                <li>Analyze and assess systems to improve efficiency</li>
                                <li>Create and maintain proper project documentation</li>
                                <li>Measure project performance and efficiency with appropriate tools and techniques</li>
                            </ul>
                        </li>
                    </ul>
                    <p class="text-muted">Clients</p>
                    <div class="row mb-2 p-1 h-100 text-center">
                        <div class="col-2 my-auto">
                            <img class="mx-auto d-block" alt="File:F icon.svg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/267px-F_icon.svg.png" decoding="async" width="120" height="120"
                                 srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/401px-F_icon.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/534px-F_icon.svg.png 2x"
                                 data-file-width="120" data-file-height="120">
                        </div>
                        <div class="col-2 my-auto">
                            <img class="mx-auto d-block" alt="File:Intel Logo.svg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Intel_Logo.svg/800px-Intel_Logo.svg.png" decoding="async" width="120" height="68"
                                 srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Intel_Logo.svg/1200px-Intel_Logo.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Intel_Logo.svg/1600px-Intel_Logo.svg.png 2x"
                                 data-file-width="120" data-file-height="68">
                        </div>
                        <div class="col-2 my-auto">
                            <img class="mx-auto d-block" alt="File:Microsoft logo.svg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/512px-Microsoft_logo.svg.png"
                                 decoding="async" width="120" height="120"
                                 srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/768px-Microsoft_logo.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/1024px-Microsoft_logo.svg.png 2x"
                                 data-file-width="120" data-file-height="120">
                        </div>
                        <div class="col-2 my-auto">
                            <img class="mx-auto d-block" alt="File:Logo NIKE.svg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/200px-Logo_NIKE.svg.png" decoding="async" width="120" height="43"
                                 srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/300px-Logo_NIKE.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/400px-Logo_NIKE.svg.png 2x"
                                 data-file-width="120" data-file-height="43">
                        </div>
                        <div class="col-2 my-auto">
                            <img class="mx-auto d-block" alt="File:Tesla Motors.svg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Tesla_Motors.svg/279px-Tesla_Motors.svg.png"
                                 decoding="async" width="93" height="120"
                                 srcset="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Tesla_Motors.svg/418px-Tesla_Motors.svg.png 1.5x, https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Tesla_Motors.svg/558px-Tesla_Motors.svg.png 2x"
                                 data-file-width="93" data-file-height="120">
                        </div>
                    </div>
                    <p class="text-muted mb-0">Projects</p>
                    <a class="card-link" href="@Url.Action("Projects")#urcs">Unit Rate Contract System</a>
                    <a class="card-link" href="@Url.Action("Projects")#loan-monitoring">Loan Monitoring</a>
                    <a class="card-link" href="@Url.Action("Projects")#po-tracking">PO Tracker</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-md-3">
        <div class="col-md-6 col-12 pt-md-0 pt-3">
            <div class="card" style="height: 100%">
                <div class="card-body">
                    <h5 class="card-title">Arvixe</h5>
                    <h6 class="card-subtitle mb-2 text-muted font-weight-light">June 2014 - November 2014</h6>
                    <p class="card-text">UI/UX Designer</p>
                    <ul class="list-unstyled">
                        <li class="font-weight-bold">
                            Responsibilities
                            <ul class="font-weight-light">
                                <li>Led front-end redesign</li>
                                <li>Updated out of date designs to modern and sleek designs for end users</li>
                                <li>Educated engineering team on new practices</li>
                                <li>Designed front-end website deployment strategy</li>
                                <li>Refactored layouts and components to be user friendly and intuitive</li>
                                <li>Defined and drove best practices surrounding web design components</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 pt-md-0 pt-3">
            <div class="card" style="height: 100%">
                <div class="card-body">
                    <h5 class="card-title">J. Crew</h5>
                    <h6 class="card-subtitle mb-2 text-muted font-weight-light">August 2012 - Febuary 2016</h6>
                    <ul class="list-unstyled">
                        <li class="font-weight-bold">
                            Positions
                            <ul class="font-weight-light">
                                <li>Support Associate - <em>7 months</em></li>
                                <li>Sales Associate - <em>5 months</em></li>
                                <li>Very Personal Stylist - <em>2 years</em></li>
                                <li>Holiday Keyholder - <em>4 months</em></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>