@{
    ViewData["Title"] = "Projects";
}

<div>
    <section class="jumbotron text-center bg-light">
        <div class="container">
            <h1 class="jumbotron-heading">Projects</h1>
            <p class="lead text-muted">
                A list of projects I have worked on, including: <a href="#urcs">URCS</a>, <a href="#loan-monitoring">Loan Monitoring</a>,
                <a href="#po">PO Tracker</a>, and <a href="#corpool">Corpool</a>.
            </p>
        </div>
    </section>
    <h2 class="mt-2 pt-3" id="projects">
        Projects
    </h2>
    <p class="text-muted font-weight-light mt-n2">
        What I have learned from working on these projects
    </p>
    <p class="pb-2">
        I have learned from working on multiple projects how to
        <ul>
            <li>translate client needs into easy to use user interfaces</li>
            <li>plan sprints and how to pad my estimates accordingly</li>
            <li>optimizing and refactoring technical debt</li>
            <li>best practices for managing a three tier application</li>
            <li>migrating code from MVC to ASP.net core</li>
            <li>task delegation for developers leveraging their strengths and understanding their weaknesses</li>
            <li>full stack development
            <li>read documentation and how to ask appropriate questions on stack overflow</li>
            <li>and many more</li>
        </ul>
    </p>
    <h2 class="mt-2 pt-3" id="urcs">Unit Rate Contract System</h2>
    <p class="text-muted font-weight-light mt-n2">
        From 2017 till 2019 for Currie & Brown
    </p>
    <p class="text-muted">Stack</p>
    <p>
        Unit Rate Contract System(URCS) was a project I worked on from the ground up. This project started in MVC then was converted to ASP.net Core 2.2. The project was developed for
        construction unit rate analysis. Used Bootstrap 4, jquery, sql, azure cloud hosted, Oauth using Office 365 accounts, and managed in visual studio team foundation.
    </p>
    <p class="text-muted">About</p>
    <p>
        A user can upload contractors rates and use them to add multiple adjustment factors to a bill of quantity. In short, it costs more to do more difficult things so how do we adjust 
        for those conditions. Knowing this information how much does it cost Contractor A vs Contractor B to do the same job. This application has saved over 10 million dollars for some of 
        our fortune 500 clients. Understanding the construction data can be very powerful. Especially when you can compare similar scopes of work over time.
    </p>
</div>