@{
    ViewData["Title"] = "Technical skills";
}

<div>
    <section class="jumbotron text-center bg-light">
        <div class="container">
            <h1 class="jumbotron-heading">Skills</h1>
            <p class="lead text-muted">
                A list technical skills.
            </p>
        </div>
    </section>
    <h2 class="mt-2 pt-2" id="skills">
        Skills
    </h2>
    <div class="row pt-2">
        <div class="col-12">
            <table class="table table-borderless">
                <tr>
                    <td data-toggle="tooltip" data-placement="bottom" title="">HTML</td>
                    <td class="text-center" data-toggle="tooltip" data-placement="bottom" title="">Javascript</td>
                    <td class="text-right" data-toggle="tooltip" data-placement="bottom" title="">CCS</td>
                </tr>
                <tr>
                    <td data-toggle="tooltip" data-placement="bottom" title="">UI/UX design</td>
                    <td class="text-center" data-toggle="tooltip" data-placement="bottom" title="">Photoshop</td>
                    <td class="text-right" data-toggle="tooltip" data-placement="bottom" title="">Entity framework</td>
                </tr>
                <tr>
                    <td data-toggle="tooltip" data-placement="bottom" title="">Unix</td>
                    <td class="text-center" data-toggle="tooltip" data-placement="bottom" title="">Problem solving</td>
                    <td class="text-right" data-toggle="tooltip" data-placement="bottom" title="">Bootstrap</td>
                </tr>
                <tr>
                    <td data-toggle="tooltip" data-placement="bottom" title="">Communications skills</td>
                    <td class="text-center" data-toggle="tooltip" data-placement="bottom" title="">Open source software development</td>
                    <td class="text-right" data-toggle="tooltip" data-placement="bottom" title="">Devextreme</td>
                </tr>
                <tr>
                    <td data-toggle="tooltip" data-placement="bottom" title="">Git</td>
                    <td class="text-center" data-toggle="tooltip" data-placement="bottom" title="">MVC design pattern</td>
                    <td class="text-right" data-toggle="tooltip" data-placement="bottom" title="">Object-oriented paradigm</td>
                </tr>
                <tr>
                    <td data-toggle="tooltip" data-placement="bottom" title="">Visual studio/ TFS</td>
                    <td class="text-center" data-toggle="tooltip" data-placement="bottom" title="">ASP. Net Core</td>
                    <td class="text-right" data-toggle="tooltip" data-placement="bottom" title="">REST APIs</td>
                </tr>
            </table>
        </div>
    </div>
</div>