@using domshyra.Models;
@using System.Collections.Generic
@model List<PlaylistsModel>

@{
    Layout = "_Layout";
    ViewBag.Title = "Radio stations";
}

<style>
    .description-row {
        height: 200px;
        max-height: 200px;
    }

    .playlist-img {
        height: 100%;
        width: 100%;
        max-height: 200px;
    }    

    .card-body-playlist {
        min-height: 250px;
    }
    .card-icon {
        font-size: 1.2rem;
        line-height: 1.2;
    }
</style>

<div class="container">
    <div class="d-none d-xl-block">
        <section class="jumbotron text-center bg-light">
            <div class="container">
                <h1 class="jumbotron-heading">Radio stations</h1>
                <p class="lead text-muted">
                    Music is the oldest form of story telling and I've always loved a good story.
                </p>
                <small class="text-center"><b>Note:</b> Apple music is deprecated and the most up to date playlists are on <a href="https://open.spotify.com/user/domshyra">Spotify</a></small>
            </div>
        </section>
    </div>
    <div class="d-xl-none">

        <h2 class="pb-2">Radio stations</h2>
    </div>

    <div class="row">
        @foreach (PlaylistsModel playlist in Model)
        {
            <div class="col-12 col-xl-6 mb-2">
                <partial name="_PlaylistCardPartial" model="playlist" />
            </div>
        }
    </div>
</div>