@{
    Layout = "_Layout";
    ViewBag.Title = "Radio stations";
}

<script>
    const radioURL = '@Url.Action("GetRadios", "Playlists")';
    const spotify = "Spotify";
</script>
<div class="container">
    <div id="radio-content"></div>
</div>
