
@{
    Layout = "_Layout";
}

<style>
    .description-row {
        height: 200px;
        max-height: 200px;
    }    
    .playlist-img {
        max-height: 180px;
    }
    .card-body-playlist {
        min-height: 250px;
    }
</style>

<div class="container">
    <section class="jumbotron text-center bg-light">
        <div class="container">
            <h1 class="jumbotron-heading">Playlists</h1>
            <p class="lead text-muted">
                Music is the oldest form of story telling and I've always loved a good story.
            </p>
            <small class="text-center"><b>Note:</b> Apple music is depricated and the most up to date playlists are on <a href="https://open.spotify.com/user/domshyra">Spotify</a></small>
        </div>
    </section>
    <h2 class="pb-2">Playlists</h2>
    <div class="row">
        <!--Silver Spurs-->
        <div class="col-12 col-xl-6">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4 col-6">
                        <img src="~/images/silver-spurs.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8 col-6">
                        <div class="card-body">
                            <h5 class="card-title">Silver Spurs Radio</h5>
                            <p class="card-text">Cowboy songs that remind me of driving around with my grandpa playing Johnny Cash, and red dead redemption.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="offset-6 col-6">
                            <a class="float-right px-2" href="https://open.spotify.com/playlist/3vaznYrm9fSPz3ENlcOR3e?si=DpzKVbI7QumEB9by9a7F4A" title="Open in Spotify"
                               aria-label="Open in Spotify" data-toggle="tooltip" data-placement="bottom"><i class="fab fa-spotify"></i></a>

                            <a class="float-right px-2" href="https://music.apple.com/us/playlist/silver-spurs-radio/pl.u-xlKY2uXJ4jE0" title="Open in Apple Music"
                               aria-label="Open in Apple Music" data-toggle="tooltip" data-placement="bottom"><i class="fab fa-itunes-note"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>