# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Web

on:
    push:
        branches:
            - main
        paths:
            - Web/**
            - .github/workflows/web.yml
    workflow_run:
        workflows: ["terraform_apply"]
        branches: [main]
        types:
            - completed
    workflow_dispatch:

env:
    repo: domshyra

permissions:
    id-token: write
    contents: read
jobs:
    build:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: Web

        steps:
            - uses: actions/checkout@v2

            - name: Set up Node.js version
              uses: actions/setup-node@v1
              with:
                  node-version: "22.x"

            - name: npm install, build, and test
              run: |
                  npm install
                  npm run build --if-present

            - name: Zip artifact for deployment
              run: zip -r release.zip ./dist/*

            - name: Upload artifact for deployment job
              uses: actions/upload-artifact@v4
              with:
                  name: node-app
                  path: Web/release.zip
                  if-no-files-found: error

    deploy:
        runs-on: windows-latest
        needs: build
        environment:
            name: "Production"
            url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

        steps:
            - name: Download artifact from build job
              uses: actions/download-artifact@v4
              with:
                  name: node-app

            - name: Transform production variables
              shell: pwsh
              run: |
                $artifactPath = "D:\a\${{env.repo}}\${{env.repo}}\release.zip"
                $destinationPath = "D:\a\${{env.repo}}\${{env.repo}}\release-transformed"
                # Ensure the destination directory exists
                if (!(Test-Path -Path $destinationPath)) {
                    New-Item -ItemType Directory -Path $destinationPath | Out-Null
                }
                # Extract the artifact to a temporary location
                Expand-Archive -Path $artifactPath -DestinationPath $destinationPath -Force
                Get-ChildItem -Path "$destinationPath/dist/assets" -Filter *.js -Recurse | ForEach-Object {
                    (Get-Content -Path $_.FullName) -replace '#{SENTRY_DSN_Web}#', '${{ secrets.SENTRY_DSN_Web }}' `
                                                        -replace '#{SENTRY_REPLAYS_SESSION_SAMPLE_RATE}#', '${{ secrets.SENTRY_REPLAYS_SESSION_SAMPLE_RATE }}' `
                                                        -replace '#{SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE}#', '${{ secrets.SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE }}' `
                                                        -replace '#{SENTRY_TRACES_SAMPLE_RATE}#', '${{ secrets.SENTRY_TRACES_SAMPLE_RATE }}' |
                    Set-Content -Path $_.FullName
                }
                $files = Get-ChildItem -Path "$destinationPath/dist/assets" -Filter *.js -Recurse
                $errors = @()
                foreach ($file in $files) {
                    $content = Get-Content -Path $file.FullName -Raw
                    if ($content -notmatch [regex]::Escape("${{ secrets.SENTRY_DSN_Web }}")) {
                        $errors += "SENTRY_DSN_Web not transformed in $($file.FullName)"
                    }
                    if ($content -notmatch [regex]::Escape("${{ secrets.SENTRY_REPLAYS_SESSION_SAMPLE_RATE }}")) {
                        $errors += "SENTRY_REPLAYS_SESSION_SAMPLE_RATE not transformed in $($file.FullName)"
                    }
                    if ($content -notmatch "${{ secrets.SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE }}") {
                        $errors += "SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE not transformed in $($file.FullName)"
                    }
                }
                if ($errors.Count -gt 0) {
                    Write-Error "Transformation errors found:`n$($errors -join '`n')"
                    exit 1
                }
                Write-Output "All variables successfully transformed."
                # Re-zip the transformed files
                Compress-Archive -Path "$destinationPath/*" -DestinationPath $artifactPath -Force
    
            - name: Azure Login
              uses: azure/login@v2
              with:
                  client-id: ${{ secrets.AZURE_CLIENT_ID }} # save these as the federal credentials with no quotes
                  tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                  subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

            # https://learn.microsoft.com/en-us/azure/app-service/deploy-continuous-deployment?tabs=github%2Cgithubactions#configure-the-deployment-source
            # https://learn.microsoft.com/en-us/azure/app-service/deploy-github-actions?tabs=applevel%2Caspnetcore
            - name: Deploy to Azure Web App
              id: deploy-to-webapp
              uses: azure/webapps-deploy@v2
              with:
                  app-name: "${{env.repo}}-web"
                  slot-name: "Production"
                  publish-profile: ${{ env.AZURE_APPSERVICE_PUBLISH_PROFILE_WEB }}
                  package: D:\a\${{env.repo}}\${{env.repo}}\release.zip
